.labeled-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-color: red;
    margin-top: 10px
}

.labeled-input-container-label {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}